$white:   #fff !default;
$gray-100:#f8f9fa !default;
$gray-200:#e9ecef !default;
$gray-300:#dee2e6 !default;
$gray-400:#ced4da !default;
$gray-500:#adb5bd !default;
$gray-600:#6c757d !default;
$gray-700:#495057 !default;
$gray-800:#343a40 !default;
$gray-900:#212529 !default;
$black:   #000 !default;

$blue: #0d6efd !default;
$indigo: #0d6efd !default;
$purple: #0d6efd !default;
$pink: #0d6efd !default;
$red: #0d6efd !default;
$orange: #0d6efd !default;
$yellow: #0d6efd !default;
$teal: #0d6efd !default;
$cyan: #0d6efd !default;